<div class="product-list-container">
  <h2>Product List</h2>

  <div class="filters">
    <label>Sort by:</label>
    <select [(ngModel)]="selectedSortOption" (change)="applyFilter()">
      <option value="priceLowToHigh">Price: Low to High</option>
      <option value="priceHighToLow">Price: High to Low</option>
      <option value="quantityLowToHigh">Quantity: Low to High</option>
      <option value="quantityHighToLow">Quantity: High to Low</option>
      <option value="titleAZ">Title: A to Z</option>
      <option value="titleZA">Title: Z to A</option>
      <!-- Add more options for other criteria -->
    </select>
  </div>

  <div class="product-grid">
    <div *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.image_url" alt="{{ product.title }}">
      <div class="product-details">
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Quantity: {{ product.quantity }}</p>
        <button (click)="addToCart(product)">Add to Cart</button> <!-- Add to Cart button -->
        <button (click)="navigateToProductDetails(product.id)">View Details</button> <!-- View Details button -->
      </div>
    </div>
  </div>

  <ng-container *ngIf="filteredProducts.length === 0" class="no-products">
    <p>No products available.</p>
  </ng-container>
</div>
