<!-- Product Details Section -->
<div *ngIf="productData" class="product-details-container">
  <h2>{{ productData.title }}</h2>
  <div class="product-details">
    <!-- Display product details -->
    <img [src]="productData.image_url" alt="Product Image" class="product-image">
    <p>Description: {{ productData.description }}</p>
    <p>Price: ${{ productData.price }}</p>
    <p>Quantity: {{ productData.quantity }}</p>
    <button *ngIf="productData" (click)="addToCart(productData)">Add to Cart</button>
  </div>

  <!-- Add Review Button -->
  <div>
    <h2>Add Review</h2>
    <button (click)="openReviewForm()">Add Review</button> <!-- Button to toggle review form -->
    <form *ngIf="showReviewForm" [formGroup]="reviewForm" (ngSubmit)="submitReview()">
      <div>
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" formControlName="rating" min="1" max="5" required>
      </div>
      <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" formControlName="comment" required></textarea>
      </div>
      <button type="submit">Submit Review</button>
    </form>
  </div>

  <!-- Product Reviews Section -->
  <h3>Product Reviews</h3>
  <div *ngIf="reviews.length > 0" class="review-list">
    <div *ngFor="let review of reviews" class="review-item">
      <p><strong>User: {{ review.user }}</strong></p>
      <p>Comment: {{ review.comment }}</p>
      <p>Rating: {{ review.rating }}/5</p>
    </div>
  </div>
  <div *ngIf="reviews.length === 0" class="no-reviews">
    <p>No reviews available for this product yet.</p>
  </div>
</div>
